{% load static %}

<html>
<head>
    <title>LITRevu</title>
    <link rel="stylesheet" href="{% static 'authentication/style.css' %}">
    <link rel="stylesheet" href="{% static 'litrevu/style.css' %}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
<nav class="navbar">
    <h1>LITRevu</h1>
    <div>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a href="{% url 'flux' %}">Flux</a>
            </li>
            <li class="nav-item">
                <a href="#">Posts</a>
            </li>
            <li class="nav-item">
                <a href="#">Abonnements</a>
            </li>
            <li class="nav-item">
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="logout-link">Se déconnecter</a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>
{% block content %}{% endblock content %}
</body>
</html>