{% extends 'base.html' %}

{% block content %}
{% if ticket %}
    <h2>{{ ticket.title }}</h2>

    <ul>
        <li>Description : {{ ticket.description }}</li>
        <li>Time created : {{ ticket.time_created }}</li>
    </ul>
{% endif %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Créer une critique</div>

                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                        </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary">Soumettre</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


