{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card my-4">
                <div class="card-header">
                    <h1 class="card-title">Souhaitez vous ne plus suivre {{ user_to_unfollow.username }}</h1>
                </div>
                <div class="card-body">
                    <p>Etes-vous sûr de vouloir vous désabonner de: <strong>{{  user_to_unfollow.username }}</strong> ?</p>
                    <form action="" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Ne plus suivre</button>
                        <a href="{% url 'follow_user' %}" class="btn btn-secondary">Retour</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}